/* Este código-fonte segue a definição completa das regras de formatação e estilo do Google para HTML e CSS. */

/* Redefinição · CSS */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

/* Body */

/* Header */

/* Nav */

/* Main */

/* Section */

/* Header */

/* Article */

/* Footer */

/* Aside */

/* Footer */
