/* Este código-fonte segue a definição completa das regras de formatação e estilo do Google para HTML e CSS. */

/* Redefinição · CSS */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

/* Importação · Fontes */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* Body */
body {
	font-family:	'Questrial', sans-serif;
	font-size: initial;
}

/* Header */
header {
	border-bottom: 1px solid #7a7a7a;
	color: #fff;
	height: 4.5em;
	margin: 0 auto;
	position: relative;
  width: 940px;
}

header h1 {
	color: #085454;
  display: inline-block;
	font-size: 2em;
	padding-top: 12.5px;
	text-transform: capitalize;
	vertical-align:	middle;
}

#small-plant {
	color:#ffb30d;
}

/* Nav */
nav {
  position: absolute;
  right: 0;
	top: 30px;
}
  
nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  color: #7a7a7a;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #ffb30d;
}

/* Main */

/* Section */
.container {
	margin: 0 auto;
	padding: 0;
	width: 940px;
}

.secondary-title {
	color: #7a7a7a;
	display: block;
	margin: 15px 0 15px 0;
}

/* Article */
.article {
	margin-bottom: 15px;
}

.hideValues {
	display: none;
}

/* Section */

/* Article */
table {
	border-collapse: collapse;
	margin-bottom: 0.5em;	
  table-layout: fixed;
  width: 100%;
}

caption {
	text-align: left;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #7a7a7a;
}

th, td {
  margin: 0;
	padding: 0.7em;
	text-align: center;
}

th {
  background-color: #085454;
	color: #fff;
	font-weight: bold;
}

.reportError {
	background-color: #085454;
}

.fadeAction  {
	opacity: 0;
	transition: 0.5s;
}

/* Section */
.show-message {
	color: #000;
	display: none;
	margin-bottom: 0.5em;
}

/* Article */

/* Section */
#error-messages {
	color: #085454;
	margin-bottom: 0.5em;
}

/* Article */
label {
	color: #085454 ;
	display: block;
	font-weight: bold;
	margin-bottom: 0.2em;
}

.text-field {
	background-color: #f2f2f2;
	border: none;
	color: #000;
	display: inline-block;
	margin-bottom: 0.5em;
	padding: 0.7em;	
	width: 100%;
}

ul {
	padding-left: 17px;
}

button {
	background-color: #ffb30d;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: initial;
	margin: -3px 0 0 0;
	padding: 0.7em;
	width: 19.25%;
		clear: both;
    display: block;
    margin: 10px 0px;
}

/* Footer */
footer {
	border-top: 1px solid #7a7a7a;
	margin: 0 auto;
	margin-top: 19px;
  width: 940px;
}

.signature {
  color: #085454;
	font-weight: bold;
	height: 4.5em;
	padding-top: 25.5px;
	text-align: center;
}
