/* Este código-fonte segue a definição completa das regras de formatação e estilo do Google para HTML e CSS. */

/* Redefinição · CSS */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

/* Body */
body {
  background-color: #fff;
}

/* Header */

/* Div */
#principal {
  background-color: #ccc;
}

#banner {
  width: 100%;
}

/* Header */
h1 {
  text-align: center;
}

/* Article */
p {
  text-align: center;
}

#company-mission {
  font-size: 20px;
}

em strong {
  color: #ff0000;  
}

/* Footer */

/* Nav */

/* Main */

/* Section */

/* Div */

/* Header */
h2 {
  text-align: center;
}

/* Article */
.benefit-items {
  font-style: italic;
}

/* Footer */

/* Aside */

/* Footer */
