/* Este código-fonte segue a definição completa das regras de formatação e estilo do Google para HTML e CSS. */

/* Redefinição · CSS */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

/* Body */

/* Header */
header {
  background-color: #bbb;
}

/* Nav */
nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

/* Main */

/* Section */

/* Header */

/* Article */

/* Footer */

/* Aside */

/* Footer */
