/* Este código-fonte segue a definição completa das regras de formatação e estilo do Google para HTML e CSS. */

/* Redefinição · CSS */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

/* Body */

/* Header */
header {
  background-color: #bbb;
}

/* Div */
.container-limit {
  margin: 0 auto;
  position: relative;
  width: 940px;
}

/* Nav */
nav {
  position: absolute;
  right: 0;
  top: 112.5px;
}
  
nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

/* Main */

/* Section */

/* Header */

/* Article */
.services {
  margin: 0 auto;
  padding: 50px 0;
  width: 940px;
}

.services li {
  border: 2px solid #000;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 1.5%;
  padding: 30px 20px;
  text-align: center;
  vertical-align: top;
  width: 30%;
}

.services h2 {
  font-size: 30px;
  font-weight: bold;
}

.service-description {
  font-size: 18px;
}

.service-price {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

/* Footer */

/* Aside */

/* Footer */
